In [1]:
import os
os.chdir('../home')

In [2]:
def calculate_total_sales(sales_data):
    total_sales = 0
    for category, sales in sales_data.items():
        total_sales += sales
    return total_sales

sales_data = {"electronics": 10000, "books": 5000, "clothing": "7000", "toys": 3000},
total_sales = calculate_total_sales(sales_data)
print(f"Total sales: ${total_sales}")

AttributeError: 'tuple' object has no attribute 'items'

In [3]:
import pandas as pd
s = pd.Series([1, 2, 3, 4])
s.add_suffix('_item')

/tmp/ipykernel_830653/179978455.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

0_item    1
1_item    2
2_item    3
3_item    4
dtype: int64